:root {
  --primary: #059cf9;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  /* color: #fff; */
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 3px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
  margin-left: 20px;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-size: 50px;
}

.navbar .navbar-logo {
  font-size: 35px;
}

.navbar .navbar-nav {
  display: flex;
  list-style: none;
  margin-top: 15px;
  gap: 150px;
}

.navbar .navbar-nav a {
  color: #fff;
  font-size: 1rem;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.4);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.4rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.ornamen {
  border: 5px solid var(--primary);
  position: absolute;
  margin-top: -250px;
  margin-left: -200px;
  height: 700px;
  width: 650px;
  rotate: 45deg;
  border-radius: 50px;
  box-shadow: 1px 15px 50px var(--primary);
}

.ornamen div {
  height: 550px;
  width: 500px;
  border-radius: 35px;
  position: absolute;
  border: 5px solid var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 10px 30px var(--primary);
}

/* Beranda */

#beranda {
  color: white;
  text-align: center;
  position: absolute;
  line-height: 55px;
  top: 50%;
  left: 53%;
  letter-spacing: 10px;
  transform: translate(-50%, -50%);
}

.typing {
  display: inline-block;
}

.text {
  color: var(--primary);
  font-size: 55px;
  border-right: 5px solid var(--primary);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(12) infinite,
    cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

.button {
  margin-top: 35px;
  height: 10%;
}

.button a {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center; /* Menengahkan vertikal */
  justify-content: center; /* Menengahkan horizontal */
  padding: 1rem 2rem;
}

.arrow {
  /* animation: move 1.1s infinite ease-in-out; */
  overflow: hidden;
  background-color: red;
}

@keyframes move {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0%;
  }
}

/* Sejarah */
#sejarah{
  padding: 70rem 7% 1.4rem;
}

#sejarah {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sejarah .sejarah-text {
  flex: 1;
}

#sejarah .sejarah-text h1 {
  color: var(--primary);
}

#sejarah .sejarah-text p {
  color: white;
  margin-top: 10px;
}

#sejarah .sejarah-image {
  flex: 1;
}

#sejarah .sejarah-image aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sejarah .sejarah-image aside img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-left: 100px;
}

/* Wisata */
#wisata{
  padding: 35rem 7% 1.4rem;
}
.karangkates h2,
.karangkates p {
  flex: 1;
  color: white;
}

.karangkates .karangkates1 aside img,
.karangkates .karangkates2 aside img,
.karangkates .karangkates3 aside img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--primary);
}

.karangkates .karangkates1 aside img {
  margin-left: 280px;
}

.karangkates .karangkates2 aside img {
  margin-top: -170px;
}

.karangkates .karangkates3 aside img {
  margin-left: 280px;
  margin-top: -100px;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.3rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.6rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
